In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('인천교통공사_역별일별 이용인원현황_20230630.csv', encoding='cp949')

In [3]:
data2=data[data['구분']=='하차']
data2.drop(['호선','구분'], axis=1,inplace=True)

C:\Users\tj-bu\AppData\Local\Temp\ipykernel_2912\3427451468.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data3=data2.drop(['호선','구분'], axis=1,inplace=True)

In [11]:
df=pd.DataFrame()
df['ds']=pd.to_datetime(data2['통행일자'])
df['y']=data2['이용인원']
df['location']=data2['역명']
# df.drop(['통행일자','이용인원'],axis=1,inplace=True)

In [12]:
df

              ds     y location
1     2022-07-01  3307       계양
3     2022-07-02  2862       계양
5     2022-07-03  2325       계양
7     2022-07-04  3309       계양
9     2022-07-05  3368       계양
...          ...   ...      ...
49631 2023-06-26  6230       석남
49633 2023-06-27  6717       석남
49635 2023-06-28  6791       석남
49637 2023-06-29  6193       석남
49639 2023-06-30  7216       석남

[24820 rows x 3 columns]

In [13]:
tt_list=['중구' ,
'동구',
'미추홀구',
'연수구',
'남동구',
'부평구',
'계양구',
'서구',
'강화군',
'옹진군']

In [20]:
ty_list=['부평시장',
'가정',
'계산',
'테크노파크',
'인천터미널',
'주안국가산단',
'작전']
len(ty_list)

7

In [5]:
subway_list=[]

In [14]:
for x in ty_list:
    subway_list.append(df[df['location']==x])

In [18]:
subway_list

[             ds      y location
 6571 2022-07-01  13707     부평시장
 6573 2022-07-02   9286     부평시장
 6575 2022-07-03   6850     부평시장
 6577 2022-07-04  13226     부평시장
 6579 2022-07-05  13257     부평시장
 ...         ...    ...      ...
 7291 2023-06-26  12632     부평시장
 7293 2023-06-27  13885     부평시장
 7295 2023-06-28  13885     부평시장
 7297 2023-06-29  11831     부평시장
 7299 2023-06-30  13956     부평시장

 [365 rows x 3 columns],
               ds      y location
 29201 2022-07-01  10113       가정
 29203 2022-07-02   6066       가정
 29205 2022-07-03   4273       가정
 29207 2022-07-04   9675       가정
 29209 2022-07-05   9874       가정
 ...          ...    ...      ...
 29921 2023-06-26  10618       가정
 29923 2023-06-27  11600       가정
 29925 2023-06-28  11805       가정
 29927 2023-06-29  10462       가정
 29929 2023-06-30  11737       가정

 [365 rows x 3 columns],
              ds      y location
 2921 2022-07-01  10090       계산
 2923 2022-07-02   8878       계산
 2925 2022-07-03   6545       계산
 2927 2022-07-04   9920       계산
 2929 2022-07-05   9747       계산
 ...         ...    ...      ...
 3641 2023-06-26   9149       계산
 3643 2023-06-27   9921       계산
 3645 2023-06-28  10053       계산
 3647 2023-06-29   8873       계산
 3649 2023-06-30  10273       계산

 [365 rows x 3 columns],
               ds      y location
 17521 2022-07-01  11485    테크노파크
 17523 2022-07-02   9804    테크노파크
 17525 2022-07-03   7155    테크노파크
 17527 2022-07-04  10117    테크노파크
 17529 2022-07-05  10823    테크노파크
 ...          ...    ...      ...
 18241 2023-06-26   9762    테크노파크
 18243 2023-06-27  10821    테크노파크
 18245 2023-06-28  10690    테크노파크
 18247 2023-06-29   9755    테크노파크
 18249 2023-06-30  11521    테크노파크

 [365 rows x 3 columns],
               ds      y location
 11681 2022-07-01  16485    인천터미널
 11683 2022-07-02  15363    인천터미널
 11685 2022-07-03  11677    인천터미널
 11687 2022-07-04  13502    인천터미널
 11689 2022-07-05  13853    인천터미널
 ...          ...    ...      ...
 12401 2023-06-26  12270    인천터미널
 12403 2023-06-27  13527    인천터미널
 12405 2023-06-28  13611    인천터미널
 12407 2023-06-29  11486    인천터미널
 12409 2023-06-30  15370    인천터미널

 [365 rows x 3 columns],
               ds     y location
 33581 2022-07-01  2927   주안국가산단
 33583 2022-07-02   673   주안국가산단
 33585 2022-07-03   363   주안국가산단
 33587 2022-07-04  3002   주안국가산단
 33589 2022-07-05  3014   주안국가산단
 ...          ...   ...      ...
 34301 2023-06-26  2835   주안국가산단
 34303 2023-06-27  2936   주안국가산단
 34305 2023-06-28  2930   주안국가산단
 34307 2023-06-29  2854   주안국가산단
 34309 2023-06-30  2924   주안국가산단

 [365 rows x 3 columns],
              ds      y location
 4381 2022-07-01  14122       작전
 4383 2022-07-02  10126       작전
 4385 2022-07-03   6778       작전
 4387 2022-07-04  13563       작전
 4389 2022-07-05  13620       작전
 ...         ...    ...      ...
 5101 2023-06-26  12840       작전
 5103 2023-06-27  13656       작전
 5105 2023-06-28  13949       작전
 5107 2023-06-29  12431       작전
 5109 2023-06-30  14243       작전

 [365 rows x 3 columns]]

In [19]:
count=0
for x in subway_list:
    x.to_csv(f'{count}.csv')
    count+=1